html 
    body 
        h1 GET '/'
            p Name: Get All Crimes
            p Description: this GET route will present all crimes from the database based on their ID.
            p URL: http://localhost:1337
            p Example Output: 
                div {
                    div id: 1
                    div Title: Central Park Five
                    div Year:
                    div Story: Five young men were accused of the rape and murder 
                div }