html 
    body 
            h1 GET '/crimes'
            hr
            h2 Get all crimes of the wrongly accused 
            p This GET route will present all crimes stored in the database.
            br
            p Route: http://localhost:1337/crimes
            br
            p Example Output: 
                
                div 
                pre
                    |[{
                    |       id: 1
                    |       Title: Central Park Five
                    |       Date:  April 19, 1989
                    |       Story: Five young men were accused of the rape and  murder...
                    | }]
            
            
            
            br
            h1 GET '/crimes/:title'
            hr
            h2 Get crimes of the wrongly accused by title
            p This GET route will present crimes stored in the database based on full or partial titles entered as part of the route. 
            br
            p Route: http://localhost:1337/crimes/:title
            br
            p Example Output: 
                
                div 
                pre
                    |[{
                    |       id: 1
                    |       Title: Central Park Five
                    |       Date:  April 19, 1989
                    |       Story: Five young men were accused of the rape and  murder...
                    | }]

            
            br
            h1 GET '/crimes/:title'
            hr
            h2 Get crimes of the wrongly accused by title
            p This GET route will present crimes stored in the database based on full or partial titles entered as part of the route. 
            br
            p Route: http://localhost:1337/crimes/:title
            br
            p Example Output: 
                
                div 
                pre
                    |[{
                    |       id: 1
                    |       Title: Central Park Five
                    |       Year:
                    |       Story: Five young men were accused of the rape and  murder...
                    | }]