body {
  color: #fff;
  margin: 0;
  background-image: url('../images/img-1.jpg');
  background-size: cover;
  background-position: center;
  background-color: #a9a9a9;
  background-blend-mode: multiply;
  text-align: center;
}

.header {
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  color: #041e42;
}

.h1-text {
  border: 9px solid #7fffd4;
  padding: 0.15em;
  border-radius: 20px;
}

#main {
  font-size: 1.5rem;
  text-align: justify;
  margin: 1em auto;
  max-width: 1200px;
  font-family: 'Gideon Roman', cursive;
}

.title {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.content {
  font-size: 1.5rem;
  text-align: justify;
  margin: 1em 1em;
  padding-left: 1em;
  /* border-left: 10px solid #041e42; */
}

.text {
  width: 95%;
  padding: 1em;
  /* border-right: 2px solid #041e42; */
  border-bottom: 8px solid #041e42;
  border-radius: 20px;
}

.sub-title {
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  color: #7fffd4;
  text-transform: uppercase;
  position: absolute;
  right: 78%;
  white-space: nowrap;
  line-height: 1.6;
  /* border-left: 5px solid #7fffd4; */
  padding-left: 1em;
  letter-spacing: 5px;
  margin-top: 4em;
  transform-origin: top right 0;
  transform: rotate(-90deg);
}

@media screen and (max-width: 525px) {
  .header {
    font-size: 1.5rem;
  }
  .text {
    border: 2px solid #7fffd4;
    margin-top: 3em;
  }

  .text,
  .content {
    line-height: 1.6;
    font-size: 1.25rem;
  }
  .title {
    width: 85%;
    margin-left: 1em;
  }
  .sub-title {
    color: white;
    font-size: 1.75rem;
    left: 10%;
    margin: 0 auto;
    transform: rotate(0);
    border: none;
  }
  .content {
    text-align: left;
    margin-left: 0;
  }
  .h1-text {
    border-bottom: none;
  }
}

@media screen and (min-width: 501px) {
  .sub-title {
    right: 78%;
  }

  .text {
    padding-left: 3em;
  }
} ;
